
@mixin icon {
    position: absolute;
    top: 40px;
    font-size: 15px;
    color: black;

}

@mixin footerIcon {
    position: relative;
    bottom: 10px;
    color: red;
}

.footer{
    position: fixed;
    top: 90vh;
    bottom: 0;
    width: 100%;
    height: 8vh;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: bisque !important;
    // position: relative;
    // bottom: 0px;
    .footer__home{
        @include footerIcon;
        .home{
            @include icon;
        }
    }
    .footer__access{
        @include footerIcon;
        .network{
            @include icon;
        }
    }
    .footer__add{
        @include footerIcon;
        .post{
            @include icon;
        }
    }
    .footer__notification{
        @include footerIcon;
        .notification{
            @include icon;
        }
    }
    .footer__work{
        @include footerIcon;
        .job{
            @include icon;
        }
    }
}